@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Russo+One&display=swap");
html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

li, a {
  list-style: none;
  text-decoration: none;
}

.background-content .background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url(../img/background/bg-nd.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(0.5);
}

.background-message {
  max-width: 50%;
  position: absolute;
  top: 30%;
  left: 25%;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.background-message #page-title {
  font-size: 5rem;
}
.background-message #page-message {
  font-size: 2.5rem;
}
.background-message #page-title, .background-message #page-message {
  color: white;
  letter-spacing: 1.5px;
}

.website_info {
  position: fixed;
  right: 3%;
  bottom: 3%;
  z-index: 999;
}
.website_info .open-modal-btn {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: absolute;
  z-index: 100;
}
.website_info .open-modal-btn .dot {
  margin: 0 2px;
  width: 7px;
  height: 7px;
  border: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.goto-section {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  color: white;
}
.goto-section .down-icon a {
  text-decoration: none;
  color: white;
}
.goto-section .down-icon a span {
  font-size: 2rem;
  -webkit-animation: updown 2s ease infinite;
          animation: updown 2s ease infinite;
  cursor: pointer;
}

@-webkit-keyframes updown {
  0% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(-25%);
  }
}

@keyframes updown {
  0% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(-25%);
  }
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

nav {
  position: fixed;
  z-index: 150;
}
nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  min-width: 60%;
}
nav .company-logo {
  cursor: pointer;
}
nav .company-logo img {
  max-width: 150px;
}
nav .company-pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 50rem;
}
nav .nav-links .active {
  border-bottom: 2px solid orange;
}
nav .nav-links a:hover {
  border-bottom: 2px solid orange;
}
nav .nav-links a {
  padding: 5px 0;
  margin: 0 1.1rem;
  font-size: 1.1rem;
  outline: none;
  text-transform: none;
  text-decoration: none;
  color: #fff;
}
nav .nav-search {
  display: flex;
  align-items: center;
  min-width: 5rem;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
nav .nav-search button {
  background: none;
  border: 0;
  height: 100%;
}
nav .nav-search button i {
  font-size: 1.25rem;
  padding: 0 15px;
  color: white;
  cursor: pointer;
}

header {
  background-color: #404040;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 100vh;
}
header .container {
  width: 80%;
  height: 100%;
}

.section--2 {
  height: 100%;
}
.section--2 .section--2_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 5%;
  font-size: 1.25rem;
}
.section--2 .section--2_content .section-title {
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 2rem;
}
.section--2 .section--2_content .section-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.section--2 .section--2_content .section-content .our-services-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50%;
}
.section--2 .section--2_content .section-content .our-services-content .our-services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.section--2 .section--2_content .section-content .our-services-content .our-services .servicesContent {
  max-width: 80%;
}
.section--2 .section--2_content .section-content .our-services-content .our-services .servicesContent .service-title-content {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.section--2 .section--2_content .section-content .our-services-content .our-services .servicesContent h4 {
  display: flex;
  margin-bottom: 5px;
}
.section--2 .section--2_content .section-content .our-services-content .our-services .servicesContent h4 span {
  margin-left: 10px;
  color: orange;
  font-size: 1.5rem;
  font-weight: 600;
}
.section--2 .section--2_content .section-content .our-services-content .our-services .servicesContent ul, .section--2 .section--2_content .section-content .our-services-content .our-services .servicesContent li {
  list-style: inside;
}
.section--2 .section--2_content .section-content .image-gif--request-btn .gif img {
  max-width: 350px;
}
.section--2 .section--2_content .section-content .image-gif--request-btn .btn {
  width: 100%;
}
.section--2 .section--2_content .section-content .image-gif--request-btn .btn button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  font-size: 0.9rem;
  border: 2px solid orange;
  background: transparent;
  cursor: pointer;
}
.section--2 .section--2_content .section-content .image-gif--request-btn .btn button a {
  color: orange;
  text-transform: uppercase;
}
.section--2 .section--2_content .section-content .image-gif--request-btn .btn button:hover {
  transition: all 0.3s ease-in-out;
  background-color: orange;
}
.section--2 .section--2_content .section-content .image-gif--request-btn .btn button:hover a {
  color: white;
}
.section--2 .section--2_content .section-content .our-resume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section--2 .section--2_content .section-content .resumeContent {
  display: flex;
  flex-direction: row;
  max-width: 32%;
}
.section--2 .section--2_content .section-content .resumeContent .content-icon {
  padding: 0 10px;
  color: orange;
}
.section--2 .section--2_content .section-content .resumeContent .content-icon span {
  font-size: 3rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 200, "opsz" 40;
}

.mobile-icon, .hidden {
  display: none;
}

.mobile-icon span, .close-menu span {
  color: white;
  font-size: 2rem;
}

.close-menu span {
  cursor: pointer;
}

.responsive-menu {
  max-width: 500px;
  height: 100%;
  background-color: rgb(18, 27, 67);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
}
.responsive-menu .resp-nav-link {
  width: 80%;
}
.responsive-menu .resp-nav-link a {
  color: #c2d5ee;
}
.responsive-menu .resp-nav-link li {
  margin: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-bottom: 2px solid orange;
  border-radius: 5px 5px 0 0;
}
.responsive-menu .search-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.responsive-menu .search-info input[type=text] {
  font-size: 1rem;
  min-width: 80%;
  height: 30px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}
.responsive-menu .search-info input[type=text]:focus {
  outline: none;
}
.responsive-menu .search-info input[type=submit] {
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 0;
}

@media only screen and (max-width: 1000px) {
  .background-message {
    position: absolute;
    min-width: 100%;
    left: 0;
  }
  .background-message #page-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .background-message #page-message {
    font-size: 1.5rem;
  }
  nav .container {
    width: 100%;
  }
  .company-pages .mobile-icon {
    display: flex;
    flex-direction: column;
  }
  .company-pages .mobile-icon, .company-pages .mobile-line {
    cursor: pointer;
  }
  .company-pages .nav-links {
    display: none;
  }
  .company-pages .nav-search {
    display: none;
  }
  .responsive-menu .resp-nav-link {
    min-width: 90%;
  }
  .responsive-menu .search-info input[type=text] {
    font-size: 1rem;
    max-width: 70%;
    height: 30px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
  }
  .website_info {
    right: 15%;
    bottom: 5%;
  }
  .goto-section {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */