@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,300&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

* {
  color: white;
}

::-moz-selection {
  background-color: #121b43;
}

::selection {
  background-color: #121b43;
}

::-webkit-scrollbar {
  width: 12px;
  padding: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px 0 0 5px;
  background: #121b43;
}

ul, li, a {
  text-decoration: none;
  list-style: none;
  color: white;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url(../img/background/bg-nd.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid orange;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
}
header .container nav .hidden {
  display: none !important;
}
header .container nav .page-links .mobile-screen ul {
  padding: 0;
  width: 80%;
}
header .container nav .page-links .mobile-screen ul li {
  margin: 10px 0;
  border-top: 1px solid orange;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
header .container nav .page-links .mobile-screen .mobile-menu-display {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #121b43;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .container nav .page-links .mobile-screen .mobile-menu-display #closeMenu {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container nav .page-links .mobile-screen .mobile-menu-display .search-engine {
  min-width: 80%;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid orange;
  border-radius: 5px;
}
header .container nav .page-links .mobile-screen .mobile-menu-display .search-engine .search-input {
  width: 83%;
}
header .container nav .page-links .mobile-screen .mobile-menu-display .search-engine .search-input #searchContent {
  background: 0;
  border: 0;
  padding: 10px;
  outline: none;
  width: 100%;
  font-size: 1.15rem;
}
header .container nav .page-links .mobile-screen .mobile-menu-display .search-engine .search-button {
  display: flex;
  align-items: center;
}
header .container nav .page-links .mobile-screen .mobile-menu-display .search-engine .search-button .searchSubmitBtn {
  background: none;
  border: 0;
  padding: 0 10px;
}
header .container nav .page-links .large-screen {
  display: none;
}
header .container nav .page-links .large-screen .navbar-links {
  display: flex;
  flex-direction: row;
}
header .container nav .page-links .large-screen .navbar-links li {
  font-size: 1.25rem;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
  border-bottom: transparent;
  cursor: pointer;
}
header .container nav .page-links .large-screen .navbar-links li:hover {
  border-bottom: 1px solid orange;
}
header .container nav .page-links .large-screen .navbar-links li .active {
  border-bottom: 2px solid orange;
}
header .container nav .page-search-btn .material-symbols-outlined {
  cursor: pointer;
  color: white;
}
header .center-screen-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  font-weight: 600;
}
header .center-screen-message .screen-message_title {
  margin-bottom: 10px;
}
header .center-screen-message .screen-message_title .message-title {
  font-size: 2.25rem;
}
header .center-screen-message .screen-message_content .message-content {
  font-size: 1.25rem;
}

.main-page-content {
  width: 100%;
  height: auto;
  background: #434343;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-page-content .page-content {
  margin: 10% 0;
}
.main-page-content .page-content .main-content-title .main-title {
  font-size: 2rem;
}
.main-page-content .page-content .main-content-ourServices {
  display: flex;
  flex-direction: column;
  margin: 15% 0;
}
.main-page-content .page-content .main-content-ourServices .serviceItem {
  text-align: left;
  font-size: 1.25rem;
  padding: 10px;
}
.main-page-content .page-content .main-content-ourServices .serviceItem .serviceTitle {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.main-page-content .page-content .main-content-ourServices .serviceItem .serviceTitle .serviceItemChecked {
  color: orange;
  font-size: 2.5rem;
  font-weight: bold;
}
.main-page-content .page-content .main-content-ourServices .serviceItem .serviceContent .serviceList {
  padding: 0;
}
.main-page-content .page-content .main-content-ourServices .serviceItem .serviceContent .serviceList .serviceListItem {
  list-style: inside;
}
.main-page-content .page-content .request-a-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-page-content .page-content .request-a-contact .request-image .dataStructureImage {
  max-width: 95%;
  height: auto;
  border-radius: 5px;
}
.main-page-content .page-content .request-a-contact .request-button {
  margin-top: 10px;
  border: 1px solid orange;
  padding: 5px 20px;
  border-radius: 5px;
}
.main-page-content .page-content .request-a-contact .request-button .requestCallButton {
  background-color: transparent;
  border: 0;
}
.main-page-content .page-content .request-a-contact .request-button .requestCallButton .callButton {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.main-page-content .page-content .about-our-services {
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.main-page-content .page-content .about-our-services .aboutServiceItem {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.main-page-content .page-content .about-our-services .aboutServiceItem .about-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.main-page-content .page-content .about-our-services .aboutServiceItem .about-title .aboutIcon {
  color: orange;
  padding: 5px;
  font-size: 2rem;
}
.main-page-content .page-content .about-our-services .aboutServiceItem .about-content .aboutListItem {
  list-style: none;
  padding-right: 10px;
}

.explain-our-service {
  width: 100%;
  height: auto;
  background: fixed;
  background-image: url(https://d1m75rqqgidzqn.cloudfront.net/wp-data/2020/10/06115940/iStock-1048167302.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.explain-our-service .service-content {
  padding: 35px;
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
  line-height: 45px;
  font-family: "Chivo Mono", monospace;
}

.about-platform {
  width: 100%;
  height: auto;
  background: #434343;
}
.about-platform .platform-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.about-platform .platform-content .content .text-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about-platform .platform-content .content .text-content .platformIcon {
  color: orange;
  font-size: 3rem;
  margin-bottom: 10px;
}
.about-platform .platform-content .content .text-content .content-message {
  font-size: 1.5rem;
  text-align: center;
}
.about-platform .platform-content .content .button {
  margin-top: 10px;
  text-align: center;
}
.about-platform .platform-content .content .button .platformSubmitBtn {
  background: none;
  border: 1px solid orange;
  padding: 10px;
  border-radius: 5px;
}
.about-platform .platform-content .content .button .platformSubmitBtn .platformBtnContent {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.about-platform .platform-content .content .button .platformSubmitBtn .platformBtnContent .platformSubmitIcon {
  margin-left: 10px;
}
.about-platform .platform-content .platform-image {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
.about-platform .platform-content .platform-image .platformImage {
  width: 85%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #121b43;
}
.footer .footer-content .footer-text {
  text-align: center;
  padding: 20px;
}
.footer .footer-content .footer-text .text-title .title-content {
  font-size: 2.5rem;
}
.footer .footer-content .footer-text .text-message .text-content {
  font-size: 1.25rem;
}
.footer .footer-content .footer-form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer .footer-content .footer-form .form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.footer .footer-content .footer-form .form-input .formInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background: none;
  text-align: left;
  margin: 10px 0;
}
.footer .footer-content .footer-form .form-input .formInput #formName, .footer .footer-content .footer-form .form-input .formInput #formEmail {
  font-size: 1rem;
  color: white;
  background: none;
  border: 2px solid orange;
  border-radius: 5px;
  padding: 10px;
}
.footer .footer-content .footer-form .form-input .formInput #formName:focus, .footer .footer-content .footer-form .form-input .formInput #formEmail:focus {
  outline: none;
}
.footer .footer-content .footer-form .form-input .formInput .inputLabel {
  padding: 5px;
  border-top: 1px solid orange;
}
.footer .footer-content .footer-form .form-input .formSubmitBtn {
  margin: 10px 0;
  background: none;
  padding: 10px;
  border: 1px solid orange;
  border-radius: 5px;
  color: white;
  max-width: 50%;
}
.footer .footer-content .footer-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
.footer .footer-content .footer-contact .footer-address .footer-address-google-maps {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer .footer-content .footer-contact .footer-address .footer-address-google-maps .google-maps-iframe {
  width: 95%;
  height: 40vh;
  border-radius: 5px;
}
.footer .footer-content .footer-contact .footer-address-content {
  width: 100%;
  margin-bottom: 10px;
}
.footer .footer-content .footer-contact .footer-address-content .addressContent {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 30px 0;
}
.footer .footer-content .footer-contact .footer-address-content .addressContent .addresContentTitle {
  font-size: 2rem;
}
.footer .footer-content .footer-contact .footer-address-content .addressContent .addrestContentList {
  display: flex;
  flex-direction: column;
}
.footer .all-rights {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;
}
.footer .all-rights .footerLinks {
  text-align: center;
}
.footer .all-rights .footerLinks .fa-brands {
  padding: 10px 0;
  font-size: 1.5rem;
  margin: 0 10px;
}/*# sourceMappingURL=style.css.map */